.git
.gitignore
README.md
Dockerfile*
.dockerignore
node_modules
.nyc_output
coverage
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
*.sqlite
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
.tox
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.nox
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.cargo
target/
Cargo.lock
../backend
../.venv
