apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "todo-backend.fullname" . }}
  labels:
    {{- include "todo-backend.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "todo-backend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "todo-backend.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "todo-backend.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 7860
              protocol: TCP
          env:
            - name: DATABASE_URL
              value: {{ .Values.config.database_url | quote }}
            - name: PYTHONPATH
              value: "/app/src"
            - name: JWT_SECRET
              value: {{ .Values.config.jwt_secret | quote }}
            - name: JWT_ALGORITHM
              value: {{ .Values.config.jwt_algorithm | quote }}
            - name: JWT_ACCESS_TOKEN_EXPIRE_MINUTES
              value: {{ .Values.config.jwt_access_token_expire_minutes | quote }}
            - name: BCRYPT_ROUNDS
              value: {{ .Values.config.bcrypt_rounds | quote }}
            - name: LOG_LEVEL
              value: {{ .Values.config.log_level | quote }}
            - name: ENVIRONMENT
              value: {{ .Values.config.environment | quote }}
            - name: GOOGLE_API_KEY
              value: {{ .Values.config.google_api_key | quote }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}